#    Copyright (C) 2022 7thCore
#    This file is part of McSrv-Script.
#
#    McSrv-Script is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    McSrv-Script is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=Minecraft Server Sync Service
After=network.target

[Service]
Type=forking
WorkingDirectory=/srv/mcsrv/%i
ExecStart=/usr/bin/tmux -f /tmp/%u-%i-tmux.conf -L %u-%i-serversync-tmux.sock new-session -d -s ServerSync 'java -jar $(ls -v /srv/mcsrv/%i | grep -i "serversync" | head -n 1) server'
ExecStop=/usr/bin/tmux -L %u-%i-serversync-tmux.sock kill-session -t ServerSync

Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
